.LayoutUser {
    width: 100%;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #007bff;
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 8px 8px 0 0; /* Rounded top corners */
}

.main-content-user {
    flex: 1; /* Takes up remaining space */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.footer {
    background-color: #007bff;
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 0 0 8px 8px; /* Rounded bottom corners */
}
main {
    overflow: auto;
}